{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template-alternate.liquid
{% endcomment %}

{% section 'collection-template-alternate' %}

<div class="page-width">
  {% section 'video2' %}
</div>
