<div class="page-width page-width-lookbook">

      {% section 'title-lookbook' %}

      {% section 'banner-lookbook' %}

      {% section 'rich-text-lookbook' %}

      {% section 'custom-content-lookbook' %}

    <div class="">
      {% section 'video2' %}
    </div>

    <div class="" style = "margin-top:10em;">
      {% section 'rich-text-lookbook2' %}
    </div>

    <div class="" style = "margin-top:10em;">
      {% section 'custom-content-lookbook2' %}
    </div>

    <div class="" style = "margin-top:10em;">
      {% section 'rich-text-lookbook3' %}
    </div>

    <div class="" style = "margin-top:10em;">
      {% section 'banner-lookbook2' %}
    </div>

    <div class="" style = "margin-top:10em;">
      {% section 'custom-content-lookbook3' %}
    </div>

  </div>
