<div class="page-width">
    <div class="">
      {% section 'title-lookbook' %}
    </div>
    
    <div class="" style = "margin-top:10em;">
      {% section 'banner-lookbook' %}
    </div>
  
    <div class="" style = "margin-top:10em;">
      {% section 'rich-text-lookbook' %}
    </div>
  
    <div class="" style = "margin-top:10em;">
      {% section 'custom-content-lookbook' %}
    </div>
  
    <div class="">
      {% section 'video2' %}
    </div>
  
    <div class="" style = "margin-top:10em;">
      {% section 'rich-text-lookbook2' %}
    </div>
    
    <div class="" style = "margin-top:10em;">
      {% section 'custom-content-lookbook2' %}
    </div>
  
    <div class="" style = "margin-top:10em;">
      {% section 'rich-text-lookbook3' %}
    </div>
  
    <div class="" style = "margin-top:10em;">
      {% section 'banner-lookbook2' %}
    </div>
  
    <div class="" style = "margin-top:10em;">
      {% section 'custom-content-lookbook3' %}
    </div>
    
  </div>
