<div class="page-width push-content">

      {% render 'breadcrumbs' %}

      {% section 'rich-text-about' %}

      {% section 'custom-content-about' %}

      {% section 'video2' %}

      {% section 'custom-content-about2' %}

      {% section 'custom-content-about3' %}

</div>
